.descriptionContainer{
    padding: 1rem;
    width: 50%;
    float: right;
    .h1sDiv{
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: 3rem;
        display: flex;
        flex-direction: row;
        align-items: flex-end;

        .horizontalText{
            width: 300px;
        }

        .mainTitle{
            color: var(--primary);
        }
    }

    .semiContainer{
        width: 100%;
        padding: 1rem;
        border-left: solid 5px var(--primary);

        p{
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-size: 1.5rem;
            color: #7D7D7D;
            width: 80%;
        }

        .formContainer{
            display: flex;
            width: 80%;
            button{
                padding: 1rem;
                padding-inline: 3rem;
                background-color: var(--secondary);
                border: none;
                font-weight: bold;
                color: white;
                font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            }

            input{
                margin-left: 3rem;
                padding: 1rem;
                border: 1px solid var(--secondary);
                width: -webkit-fill-available;
            }   
        }
    }
}