@mixin myRowFLex {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.headerContainer{
    height: 10vh;
    display: flex;
    align-items: center;
    nav{
        @include myRowFLex();
        width: 100%;
        justify-content: space-evenly;
        ul{
            width: 80%;
            list-style: none;
            justify-content: flex-start;
            @include myRowFLex();
            margin-left: 0;
            padding-left: 0;
            li{
                margin-right: 15%;
            }
        }
        .loginSignup{
            @include myRowFLex();
            justify-content: space-evenly;
            .loginButton{
                color: var(--primary);
                font-weight: bolder;
                background: none;
                border: none;
            }
            .signUpButton{
                margin-left:3rem ;
                padding: 1rem;
                padding-inline: 2rem;
                border-radius: 10px;
                box-shadow: 10px 10px 20px rgba(0,0,0,0.2);
                background-color: var(--secondary) !important;
                border: none;
                color: white;
                font-weight: bold;
            }
        }
    }
}

.headerContainer-sticky{
        background: #333;
        position: fixed;
        top: 0;
        left: 0;
        box-shadow: 1px 1px 1px #222;
        animation: moveDown 0.5s ease-in-out; 
}